<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Spending Habit Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Spending Habit Analyzer</h1>

    <p>
        An intelligent expense management system that predicts overspending
        risk using a Random Forest machine learning model.
    </p>

    <button onclick="window.location.href='/login'">
        Get Started
    </button>

</div>

</body>

</html>