body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#FFF6F9;
}

.container{
    width:900px;
    margin:40px auto;
}

.card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

h1,h2,h3{
    color:#d76c92;
    text-align:center;
}

.menu{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin:30px 0;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#F5A9C4;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#EC8EB2;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#F5A9C4;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #eee;
}

a{
    text-decoration:none;
    color:#d76c92;
    font-weight:bold;
}