*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#FFF6F8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:650px;
    background:white;
    padding:60px;
    border-radius:20px;
    text-align:center;
    border:1px solid #F3D6E3;
    box-shadow:0 10px 25px rgba(201,107,152,.12);
}

h1{
    color:#C96B98;
    font-size:48px;
    margin-bottom:25px;
}

p{
    font-size:22px;
    line-height:1.7;
    margin-bottom:40px;
    color:#5B4B52;
}

button{
    background:#E8A5C8;
    color:white;
    border:none;
    padding:16px 45px;
    border-radius:12px;
    cursor:pointer;
    font-size:20px;
}

button:hover{
    background:#D98AB5;
}